<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head' %>
  </head>
  <body style="background: url('https://s3.amazonaws.com/mbrortest/bg.jpg') no-repeat scroll 100%; background-position: top;">

    <!-- Navbar -->
    <%= render 'layouts/navbar' %>

    <!-- Notice/Alert -->
    <%= render 'layouts/notice' %>
      
    <!-- Content -->
    <%= yield %>
  
    <!-- Footer -->
    <%= render 'layouts/footer' %>
    
  </body>
</html>
